@import "./Reset.scss";
@import "./Management.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
.label {
  pointer-events: none;
  left: 22px;
  color: rgb(141, 144, 146);
  top: 50%;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.2s ease;
  transform: translateY(-50%);
  background-color: transparent !important;
}
.input:not(:placeholder-shown) + .label,
div.input:focus + .label,
.input:focus + .label {
  top: 0;
  left: 10px;
  font-size: 20px;
  color: rgb(45, 44, 44);
  text-shadow: 2px 2px 3px rgb(124, 126, 126);
  padding: 0 2px;
  background-color: white;
}
.heading,
.logo {
  background-clip: text;
  color: transparent;
  display: inline-block;
  white-space: nowrap;
  background-image: linear-gradient(4deg, #730ce9, #16cbf4, rgb(135, 26, 230));
  &:not(.logo)::before {
    content: "";
    width: 70px;
    height: 4px;
    border-radius: 3px;
    background-image: linear-gradient(
      30deg,
      rgb(17, 177, 245),
      rgb(247, 251, 13)
    );
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -150%);
  }
}
.button {
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  background-image: linear-gradient(90deg, #ff00d6, #00e0ff);
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  .Posts-list {
    .post {
      // .img-post {
      //   // box-shadow: 3px 3px 7px #f226e6, -3px -3px 7px #5021e2;
      // }
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.432);
      border-radius: 5px;
      padding: 5px;
      min-width: 300px;
      transition: all 0.25s linear;
      &:hover {
        box-shadow: 0 0 5px rgb(11, 232, 228);
      }
      .information {
        .fullname {
          font-size: 20px;
          display: inline-block;
          color: transparent;
          position: relative;
          font-weight: 600;
          background-clip: text;
          background-image: linear-gradient(
            23deg,
            rgb(205, 96, 38),
            rgb(49, 16, 29),
            rgb(172, 132, 29)
          );
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-radius: 3px;
            height: 3px;
            bottom: 0;
            background-image: linear-gradient(
              45deg,
              rgb(111, 111, 109),
              rgb(35, 5, 32)
            );
          }
        }
        .email,
        .post-type {
          color: black;
        }
      }
    }
  }
}
.main_box {
  width: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 1000px;
  &:hover .box {
    transform: rotateY(25deg);
  }
  .box-img {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        45deg,
        rgb(255, 255, 255),
        rgb(36, 255, 251)
      );
      z-index: 1;
      opacity: 0;
      transition: all 0.5s;
      mix-blend-mode: multiply;
    }
  }
  .box {
    transition: 0.5s;
    overflow: hidden;
    transform-style: preserve-3d;
    .post-title {
      transition: all 0.2s ease;
      transform: translateY(200px);
    }
    &:hover .post-title {
      transform: translateY(0);
    }
    &:hover .box-img::before {
      opacity: 1;
    }
    &:hover {
      transform: rotate(0) scale(1.2) !important;
      z-index: 1;
      box-shadow: 7px 7px 20px rgba(0, 253, 228, 0.5),
        -7px -7px 20px rgba(7, 64, 250, 0.5);
    }
    &:hover ~ .box {
      transform: rotateY(-25deg);
    }
  }
  &:hover .box {
    transform: rotateY(25deg);
  }
}
// slider show ifility

.box-img {
  height: 600px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s linear;
  .image {
    transition: all 0.3s linear;
  }
  &:hover .image {
    opacity: 0.9;
  }
  &:hover .content h2 {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
  }
  &:hover .content p {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
  }
  &:hover .see {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition-delay: 0.8s;
  }
}
#icon {
  position: absolute;
  z-index: 999;
  padding: 10px;
  background-image: linear-gradient(
    90deg,
    rgb(38, 204, 246),
    rgb(54, 138, 234)
  );
  border-radius: 100%;
  color: white;
  box-shadow: 2px 2px 3px rgba(147, 142, 142, 0.679),
    -2px -2px 3px rgb(45, 6, 28);
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
}
ion-icon[name="chevron-forward-sharp"]:last-child {
  right: 10px;
}
ion-icon[name="chevron-back-sharp"] {
  left: 10px;
}
.content {
  z-index: 3;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100%;
  z-index: 1;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
.content h2 {
  color: rgb(250, 0, 221);
  transition: 0.5s;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 40px;
  opacity: 0;
  transform: translateX(-500px);
}
.content p {
  font-weight: 700;
  opacity: 0;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  margin-bottom: 5px;
  font-size: 24px;
  width: 500px;
  transform: translateY(500px);
}

.box_img {
  width: 100px;
  height: 100px;
  transition: all 0.3s linear;
  &:hover {
    width: 100%;
    height: 100%;
  }
  &:hover .image_user {
    border-radius: 5px;
  }
}

.quill {
  position: relative;
  .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 22;
  }
  .ql-editor {
    max-height: 500px;
  }
  // .ql-container {
  //   min-height: 100px;
  //   height: 100%;
  // }
}
.nav {
  font-family: "Rubik Moonrocks", cursive;
}
