.management {
  &-main {
    position: relative;
    height: 100%;
    overflow: auto;
    display: grid;
    .sidebar {
      z-index: 2;
      position: relative;
      border-top: 3px solid #5c5c5c;
      border-right: 3px solid #5c5c5c;
      width: 100%;
      overflow-y: auto;
      padding: 20px 0;
      height: calc(100vh - 100px);
      &::-webkit-scrollbar {
        background: #ffffff;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #025e6e;
        border-radius: 10px;
      }
      &-logo {
        display: flex;
        align-items: center;
        font-weight: 600;
        row-gap: 20px;
        position: relative;
        margin-bottom: 20px;
        padding: 20px;
        img {
          max-width: 50px;
        }
        &::before {
          content: "";
          position: absolute;
          height: 3px;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: white;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        font-weight: 900;
        padding: 20px;
        color: #011636;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.2s linear;
        &.active,
        &:hover {
          border-radius: 5px;
          background-image: linear-gradient(30deg, #460454, #032943, #160236);
          color: #0ec7f5;
        }
      }
    }
  }
  &-children {
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 0 20px;
    position: relative;
    background: white;
    border-top: 3px solid #5c5c5c;
    @media screen and (max-width: 1200px) {
      padding: 0 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #515151;
      border-radius: 10px;
    }
    &::-webkit-scrollbar {
      background: #ffffff;
      width: 5px;
    }
  }
}
thead {
  background-image: linear-gradient(30deg, #013543 2%, #031327, #240547);
  color: #08b5ff;
}
th,
td {
  vertical-align: middle;
}
th {
  padding: 20px 30px;
  text-align: left;
  font-weight: 600;
}
td {
  padding: 15px 30px;
  font-weight: 700;
  color: #072b51;
  @media screen and (max-width: 1024px) {
    padding: 10px;
    font-weight: 600;
  }
}
tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

tbody tr:nth-child(even) {
  background-color: #bab7b7;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.menu-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2e2f2f;
  max-width: 50px;
  flex: 1;
  position: relative;
  font-size: 22px;
  transition: all 0.2s linear;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  animation: hover 0.3s ease;
  .title {
    opacity: 0;
    bottom: calc(100% + 20px);
    font-size: 15px;
    transition: all 0.3s linear;
    white-space: nowrap;
    padding: 5px 10px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-radius: 4px;
    background: #012030;
    color: rgb(0, 200, 255);
    position: absolute;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      border-width: 10px;
      border-color: transparent;
      border-top-color: #012030;
    }
  }
  &:hover .title {
    opacity: 1;
    bottom: calc(100% + 10px);
  }
  // &.active {s
  //   background-color: aqua;
  // }
  &:hover:not(.active) {
    background-color: rgb(44, 45, 44);
    font-size: 30px;
  }
}
.magnifying_glass {
  position: absolute;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  border-radius: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.box-img img {
  cursor: none;
}
.hide {
  display: none;
}
.tox-tinymce {
  height: 300px;
}
.loading {
  --count: 5;
  --circle: 360deg;
  --deg: calc(var(--circle) / var(--count));
  --duration: 1s;
  --delay: calc(var(--duration) / var(--count));
  width: 80px;
  height: 80px;
  position: relative;
  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(calc(var(--value) * var(--deg)));
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 100rem;
      position: absolute;
      top: 0;
      right: 0;
      background: #7dd6f4;
      filter: hue-rotate(calc(var(--value) * 40deg));
      animation: balls var(--duration) infinite;
      animation-delay: calc(var(--value) * var(--delay));
      @keyframes balls {
        100% {
          transform: scale(0.25);
        }
      }
    }
  }
}
.dashed-loading {
  position: relative;
  height: 100px;
  justify-content: center;
}
:root {
  --blue: rgb(0, 195, 255);
}
.dashed-loading:after,
.dashed-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.dashed-loading:before {
  z-index: 5;
  border: 5px dashed var(--blue);
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}

.dashed-loading:after {
  z-index: 10;
  border: 5px solid var(--blue);
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}
