@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}

a,
label {
  cursor: pointer;
  text-decoration: none;
}

picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: auto;
}
